@mixin square() {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: turquoise;
}

@mixin square-bg($color: red) {
  background-color: $color;
}

.squares {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.square {
  @include square();
}

.square-magenta {
  @include square-bg(magenta);
}

.square-peru {
  @include square-bg(peru);
}

.square-purple {
  @include square-bg(purple);
}

.circles {
  width: 75%;
  border: 2px dotted brown;
  border-radius: 20px;
  margin: 0 auto;
}

@mixin circle() {
  border-radius: 200px;
  border: 3px solid red;
  background: purple;
}

@mixin circle-bg($color: red) {
  background-color: $color;
}

.circle {
  @include circle();
}

.circle-red {
  @include circle-bg(red);
}

@mixin circle-border($color: blue) {
  border: 3px solid blue;
}
