.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

$border-styles: (dotted, solid, dashed, double, none);

@each $border-style in $border-styles {
  .b-#{$border-style} {
    border-style: $border-style;
  }
}

$margins: (
  'm-xs': 4px,
  'm-sm': 8px,
  'm-md': 16px,
  'm-lg': 32px,
);

@each $size, $value in $margins {
  .#{$size} {
    margin: $value;
  }
}

$margins: (
  'p-xs': 4px,
  'p-sm': 8px,
  'p-md': 16px,
  'p-lg': 32px,
);

@each $size, $value in $margins {
  .#{$size} {
    padding: $value;
  }
}
